<!DOCTYPE html>
 <html>
     <head>
        <meta charset="utf-8">
         <title></title>
    </head>
     <body>
         <h1>Edit</h1>
        <form action="/photos/<%=photo.id%>?_method=PUT" method="POST">
          Name: <br/><input type="text" name="name" value="<%=photo.name%>"><br/>
          Description: <br/><textarea name="description"></textarea><br/>
          Image: <br/><input type="text" name="img" placeholder="ex. https://YourImageAddressHere.jpg" value="<%=photo.img%>"><br/>
          Price: <br/><input class="number" type="number" name="price" value="<%=photo.price%>"><br/>
          Quantity:<br/><input class="number" type="number" name="qty" value="<%=photo.qty%>"><br/>
          <input type="submit" value="Submit Changes">
        </form>
   </body>
</html>
