<!DOCTYPE html>
 <html>
    <%- include('../partials/head.ejs') %>
     <body>
       <%- include('../partials/header.ejs') %>
        <img class="edit-img" src="<%=photo.img%>" alt="<%=photo.des%>">
        <form class="edit-form" action="/photos/<%=photo.id%>?_method=PUT" method="POST">
          Photographed By: <%=photo.photographer%><br/>
          Description:
          <br/><textarea class="edit-textarea" placeholder="<%=photo.description%>" name="description"><%=photo.description%></textarea><br/>
          Price: <br/><input class="number" type="number" name="price" value="<%=photo.price%>"><br/>
          Select sizes that apply: <br>
          <button type="button" name="button">4 x 6</button>
          <button type="button" name="button">5 x 7</button>
          <button type="button" name="button">8 x 10</button>
          <button type="button" name="button">8.5 x 11</button>
          <button type="button" name="button">12 x 18</button>
          <button type="button" name="button">18 x 24</button>
          <button type="button" name="button">24 x 36</button> <br>
          <input type="submit" value="Submit Changes">
        </form>
   </body>
</html>
