<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
      <div class="show-container">
        <div class="show-img-container">
          <img class="show-img" src="<%=photos.img%>" alt="<%=photos.photographer%>">
        </div>
        <div class="show-grid">
        <div class="show-info">
          <h3>Photographed By: <br> <%=photos.photographer%></h3>
          <h4><%=photos.description %></h4>
        </div>
        <div class="show-buy">
          <h4>Price: $<%=photos.price%></h4>
          Sizes: <br>
          <button type="button" name="button">4 x 6</button>
          <button type="button" name="button">5 x 7</button>
          <button type="button" name="button">8 x 10</button>
          <button type="button" name="button">8.5 x 11</button>
          <button type="button" name="button">12 x 18</button>
          <button type="button" name="button">18 x 24</button>
          <button type="button" name="button">24 x 36</button><br>
          <!-- Modal -->
          <div class="buy-btn">
            <a href="#open-modal">Buy</a>
          </div>
          <div id="open-modal" class="modal">
            <div class="modal-text">
              <h3>
                  Thank you for your purchase! <br>
                  <a href="#" class="close-modal">Close</a>
              </h3>
            </div>
          </div>
          <% if (currentUser) { %>
            <% if (currentUser.username === photos.photographer) { %>
          <div>
            <a href="/photos/<%=photos.id%>/edit">Edit</a>
          </div>
          <form action="/photos/<%=photos.id%>?_method=DELETE" method="POST">
            <input type="submit" name="" value="DELETE">
          </form>
            <% } %>
          <% } %>
        </div>
       </div>
       </div>
       <div class="tags">
         <hr>
         <h4 class="tag-header" >Tags:</h4>
         <% for (let i = 0; i < photos.tags.length; i++) { %>
          <h4 class="tag-items"><%=photos.tags[i]%></h4>
        <% } %>
       </div>
  </body>
</html>
